<div class="grid-cell" (click)="onClick()">
    <!-- Display improvement if it exists -->
    <div *ngIf="improvement">
      <i [ngClass]="getIcon(improvement.type)"></i>
      @if(displayEdit){
      <app-edit-improvement-dialog [improvement]="improvement"></app-edit-improvement-dialog>
      }
      <button (click)="showEdit()">Edit</button>
      
    </div>
  </div>
  
  <!-- <div class='settlers'>
    <div class='row'>
      <div class='img-wrap'>
        <div class='tile forest'></div>
        <span class='disc'>11</span>
      </div>
      <div class='img-wrap'>
        <div class='tile pasture'></div>
        <span class='disc'>9000</span>
      </div>
      <div class='img-wrap'>
        <div class='tile fields'></div>
        <span class='disc'>9</span>
      </div>
    </div>
    <div class='row'>
      <div class='img-wrap'>
        <div class='tile hills'></div>
        <span class='disc'>4</span>
      </div>
      <div class='img-wrap'>
        <div class='tile mountains'></div>
        <span class='disc red'>6</span>
      </div>
      <div class='img-wrap'>
        <div class='tile hills'></div>
        <span class='disc'>5</span>
      </div>
      <div class='img-wrap'>
        <div class='tile pasture'></div>
        <span class='disc'>10</span>
      </div>
    </div>
    <div class='row'>
      <div class='img-wrap'>
        <div class='tile desert'></div>
      </div>
      <div class='img-wrap'>
        <div class='tile forest'></div>
        <span class='disc'>3</span>
      </div>
      <div class='img-wrap'>
        <div class='tile fields'></div>
        <span class='disc'>11</span>
      </div>
      <div class='img-wrap'>
        <div class='tile forest'></div>
        <span class='disc'>4</span>
      </div>
      <div class='img-wrap'>
        <div class='tile fields'></div>
        <span class='disc red'>8</span>
      </div>
    </div>
    <div class='row'>
      <div class='img-wrap'>
        <div class='tile hills'></div>
        <span class='disc red'>8</span>
      </div>
      <div class='img-wrap'>
        <div class='tile pasture'></div>
        <span class='disc'>10</span>
      </div>
      <div class='img-wrap'>
        <div class='tile pasture'></div>
        <span class='disc'>9</span>
      </div>
      <div class='img-wrap'>
        <div class='tile mountains'></div>
        <span class='disc'>3</span>
      </div>
    </div>
    <div class='row'>
      <div class='img-wrap'>
        <div class='tile mountains'></div>
        <span class='disc'>5</span>
      </div>
      <div class='img-wrap'>
        <div class='tile fields'></div>
        <span class='disc'>2</span>
      </div>
      <div class='img-wrap'>
        <div class='tile forest'></div>
        <span class='disc red'>6</span>
      </div>
    </div>
  </div>
   -->