
.grid-cell {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;  /* Fixed width for each cell */
    height: 100px; /* Fixed height for each cell */
  }
  
  .grid-cell i {
    font-size: 24px; /* Adjust icon size as needed */
  }

  .grid-cell:hover {
  background-image: conic-gradient(from var(--angle), #281900, #5a5200, #005b5d, #63260b, #54691f, #12574f, #281900);
  /* opacity: 70%; */
  cursor: cell; 
  }
  