/* styles.css or component-specific stylesheet */
.form-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
  }
  
  .form-box .dropdown {
    margin-bottom: 15px;
  }
  
  .form-box .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .form-box .form-buttons button {
    width: 48%;
  }

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#testing::after, .testing::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #281900, #5a5200, #005b5d, #63260b, #54691f, #12574f, #281900);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 85px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

#testing::before {
  filter: blur(.5rem);
  opacity: .5;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
