.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    height: 100vh;
    padding: 16px; 
  }
  
  .left-side, .right-side {
    flex: 1; 
    margin: 0 8px; 
  }
  
  .left-side {
    /* Styles specific to the left component */
    max-width: 50%; /* Adjust width as needed */
  }
  
  .right-side {
    /* Styles specific to the right component */
    max-width: 50%; /* Adjust width as needed */
  }
  
/*   
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196F3;
    margin: 4em 0;
  }
  .img-wrap {
    z-index:10;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: moccasin;
    position: relative;
    height: 365px;
    width: 320px;
    margin-right: 2px;
  }
  .tile {
    z-index:20;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -90px;
  }
  
  .hills,
  .desert,
  .forest,
  .mountains,
  .ocean,
  .pasture,
  .fields {
    background-size: 195%;
    background-repeat: no-repeat;
    background-position: 51% 46%;
  }
  
  .hills {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-brick.png');
  }
  .desert {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-desert.png');
  }
  .forest {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-forest.png');
  }
  .mountains {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-mountain.png');
  }
  .ocean {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-ocean.png');
  }
  .pasture {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-pasture.png');
  }
  .fields {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/catan-wheat.png');
  }
  
  .disc {
    background-color: moccasin;
    border: 3px solid #222;
    border-radius: 2em;
    font-size: 4em;
    left: 50%;
    line-height: 1.5em;
    margin-top: -0.8em;
    margin-left: -0.8em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 1.5em;
    z-index: 30;
  }
  
  .red {
    color: red;
  }
   */